{% extends "layout.html" %}
{% block content %}
   <div class="container col-sm-6 img-form">
            <form action="/success" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>
                        <h3>Upload Image</h3>
                    </label>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">

                                Browse… <input type="file" id="imgInp" class="form-control " name="file"
                                    onchange="validateFileType()" accept=".jpg,.png" required>
                            </span>
                        </span>
                        <input type="text" id="imagePath" class="form-control height-adj" readonly >
                    </div>

                    <img id='img-upload' />
                    <div class="input-group" style="width: 100%">
                    <label><h4>
                        Number of Clusters
                    </h4></label>
                    <input type="number" class="form-control height-adj" id="points" name="cluster" step="1" min="0" required>
                    </div>
                    <div class=submit>
                    <button type="submit" class="btn btn-default" value="Submit" data-toggle="modal"
                        data-target="#myModal">Submit</button> 
                    </div>
                    
                    
                </div>
            </form>
            </div>
{% endblock content %}