{% extends "layout.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Implementation of Fuzzy clustering using Expectation Maximization </h2>
    </div>
</div>
<div class="container">
    <table>
        <tr>
            <td>
                <img class="plot" src="{{ url_for('static', filename='images/orig_image.jpg') }}" alt="">
            </td>
            <td colspan="2">
                <br/>
            </td>
            <td>
                <img class="plot" src="{{ url_for('static', filename='images/em_image.jpg') }}" alt="">         
            </td>
        </tr>
    </table>

    </div>
{% endblock content %}
